.nav-link {
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link .mid-link {
    margin: auto;
    color: black;
}

.navbar-light .navbar-nav .nav-link  .mid-link:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link  .right-link {
    margin: auto;
    color: white;
}

.navbar-light .navbar-nav .nav-link  .right-link:hover {
    color: black;
}