.nav-link {
    font-size: 20px;
}

.navbar-light .navbar-nav .mid-link {
    color: black;
}

.navbar-light .navbar-nav .mid-link:hover {
    color: white;
}

.navbar-light .navbar-nav .right-link {
    color: white;
}

.navbar-light .navbar-nav .right-link:hover {
    color: black;
}